<div class="logo" style="background-color: black;">
    <img
        src="/public/images/logo/taskgroup-logo.png"
        alt="TaskGroup Logo"
        class="logo-image"
        style="max-width: 100%; height: auto;"
    >
    <img
        src="/public/images/logo/taskgroup-logo-icon.png"
        alt="TaskGroup Logo"
        class="logo-image"
        style="max-width: 100%; height: auto;"
    >
    <img
        src="/public/images/logo/taskgroup-logo-removebg-preview.png"
        alt="TaskGroup Logo"
        class="logo-image"
        style="max-width: 100%; height: auto;"
    >
    <img
        src="/public/images/logo/taskgroup-logo-removebg.png"
        alt="TaskGroup Logo"
        class="logo-image"
        style="max-width: 100%; height: auto;"
    >
</div>